.TitleCon {
  // background: #eee;
  padding: 26px 0px 16px 0px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}
.Title {
  height: 40px;
  h2 {
    float: left;
    font-size: 20px;
    line-height: 40px;
  }
}

.topCon {
  .imgBox {
    float: left;
    margin-right: 50px;
  }
  .topMenu {
    float: left;
    width: 750px;
    height: 500px;
    // padding: 0 20px;
    // border: 1px solid black;
    // background: wheat;
    .optionBox {
      float: left;
      width: 370px;
      height: 100%;
      border-right: 1px solid #d9d9d9;
      padding: 0 20px 30px 20px;
      text-align: center;
      // 옵션박스 제목
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      select {
        width: 300px;
      }
    }
    .paymentBox {
      float: left;
      width: 370px;
      padding: 0 20px 30px 20px;
      // 결제및카트 제목
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }
  // 상단 우측 칸
  .cartPriceCon {
    .cartPrice {
      float: right;
      margin-right: 100px;
      h4 {
        float: left;
        font-size: 20px;
        font-weight: bold;
        // line-height: 22px;
        color: darkgrey;
      }
      .price {
        float: left;
        display: block;
        padding-left: 20px;
        font-size: 15px;
        color: darkgrey;
        text-align: right;
        .totalPrice {
          margin-right: 3px;
          font-size: 25px;
          font-weight: bold;
          line-height: 41px;
          vertical-align: -3px;
          font-style: normal;
        }
      }
      .discountTitle {
        color: #f43142;
      }
      .discountprice {
        float: left;
        display: block;
        padding-left: 20px;
        font-size: 15px;
        color: #f43142;
        text-align: right;
        .totalPrice {
          margin-right: 3px;
          font-size: 25px;
          font-weight: bold;
          line-height: 41px;
          vertical-align: -3px;
          font-style: normal;
        }
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  // 상단 결제 라인
  .buttonBox {
    float: left;
    width: 750px;
    border-top: 1px solid #d9d9d9;
    height: 138px;
    text-align: center;
    .buttonWrap {
      margin-top: 15px;
    }
  }
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

// 장바구니 담기 버튼
.fillBtn {
  font-size: 25px;
  padding: 5px 40px;
  border: 3px solid #333333;
  background-color: transparent;
  color: #b4b2b2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
  margin-right: 10px;
  width: 300px;
}
.fillBtn:focus {
  outline: none;
}
.fillBtn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  top: 100%;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
}
.fillBtn:hover::before {
  transform: translateY(-100%);
}
.fillBtn:hover {
  color: #1d1b2e;
  // color: #fff;
  cursor: pointer;
}
// 구매하기 버튼
.orderBtn {
  border: 3px solid #f43142;
  color: #f43142;
}
.orderBtn::before {
  background: #f43142;
}
.orderBtn:hover {
  // color: #1d1b2e;
  color: #fff;
}


// 설명칸
.descCon {
  width: 920px;
  img {
    width: 100%;
  }
  // 설명란 nav 바
  .descNav {
    .navWrap {
      ul {
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid #333333;
        li {
          float: left;
          width: 210px;
          padding: 20px 30px;
          font-size: 20px;
          text-align: center;
          cursor: pointer;
        }
        &::after {
          display: block;
          content: '';
          clear: both;
        }
      }
    }
  }
  // 상품리뷰
  .reviewWrap {
    width: 840px;
    padding: 20px;
    .reviewInner {
      .reviewListWrap {
        .realReview {
          border-bottom: 1px solid #777;
          margin-bottom: 10px;
        }
        width: 800px;
        // border: 5px solid red;
        .reviewTop {
          width: 100%;
          position: relative;
          padding: 5px 10px 5px 10px;
          border-bottom: 1px solid #777;
          // .reviewIndex {
          //   font-size: 10px;
          //   letter-spacing: 0px;
          //   color: red;
          // }
          .reviewTitle {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            letter-spacing: 1px;
            color: #111;
            font-weight: 900;
          }
          .reviewRegdate {
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 15px;
            vertical-align: middle;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
        // 별점은 나중에 해보고 수정할것
        .starRating {
        }
        .reviewContentWrap {
          .reviewContent {
  
          }
        }
        .reviewImgWrap {
          .reviewImg {
            width: 100px;
            height: 100px;
          }
        }
        .reviewPage {
          text-align: center;
        }
      }
    }
  }
}

// QNA
.qnaWrap {
  width: 840px;
  height: 600px;
  padding: 20px;
}
// 아코디언 스타일
.accordion {width:800px;margin: 0 auto;}
// id값에 answer가 있는 애들
input[id*='answer'] {
  display: none;
}
// 버튼으로 보이는 라벨 꾸미기
input[id*='answer'] + label {
  display: block;
  padding: 20px;
  border-bottom: 3px solid #eee;
  // border-bottom: 0;
  color: #fff;
  font-weight: 900;
  background: #555;
  cursor: pointer;
  // em태그인 버튼모양 위치를 잡기위해 relative 선언
  position: relative;
}
// 오른쪽 버튼 모양 위치 잡기
input[id*='answer'] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
  // url 쓸일 있으면 @import 해오지 말고 src 로 할것. url을 모듈이름으로 인식하는것 같음
  // https://jolly-sally.tistory.com/87
  background: url('../img/arrow.png') 0 0 no-repeat;
}
// 컨텐츠가 보여질 영역
input[id*='answer'] + label + div{
  max-height: 0;
  transition: all .35s;
  overflow: hidden;
  background: #ebf8ff;
  font-size: 11px;
}
// 컨텐츠 내용 텍스트
input[id*='answer'] + label + div p{
  display: inline-block;
  padding: 20px;
}
// input이 checked가 되면 input 다음에 라벨, 라벨 다음에 div에 스타일을 줌
// 최대높이값을 100px 줌
input[id*="answer"]:checked + label + div {
  max-height:100px;
}
// 오른쪽 버튼이 위로 올라가게 함(세로로 길게 되어있는 이미지라서 이렇게 처리함)
input[id*="answer"]:checked + label em {
  background-position:0 -30px;
}

  
