//  이미지 자동 슬라이드
[name="aslide"] {display:none;}
// .aslidebox {max-width:1000px;width:100%;margin:0 auto;text-align:center;}
.aslidebox {width:100%;height:100%;margin:0 auto;text-align:center;}
// .aslidebox {width:100%;height:100vw;margin:0 auto;text-align:center;}
// .aslidebox {width:100%;height:car(100vw - 120);margin:0 auto;text-align:center;}
// .aslidebox img {max-width:100%;}
.aslidebox img {width:100vw;height:80vh;}
.aslidebox .aslidelist {
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.aslidebox .aslideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .35s;
}
.aslidebox .aslideitem label {
	position:absolute;
	z-index:1;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}
label.left {
	left:20px;
	background-color:#5F5F5F;
	background-image:url('../../img/left-arrow.png');
	background-position:center center;
	background-size:50%;
	background-repeat:no-repeat;
}
label.right {
	right:20px;
	background-color:#5F5F5F;
	background-image:url('../../img/right-arrow.png');
	background-position:center center;
	background-size:50%;
	background-repeat:no-repeat;
}

/* 페이징 스타일 */
.paginglist {text-align:center;padding:30px 0;}
.paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
.paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
.paginglist > li:hover > label {background:#333;}

[id="aslide01"]:checked ~ .aslidelist .aslideitem {transform:translateX(0);animation:aslide01 20s infinite;}
[id="aslide02"]:checked ~ .aslidelist .aslideitem {transform:translateX(-100%);animation:aslide02 20s infinite;}
[id="aslide03"]:checked ~ .aslidelist .aslideitem {transform:translateX(-200%);animation:aslide03 20s infinite;}
[id="aslide04"]:checked ~ .aslidelist .aslideitem {transform:translateX(-300%);animation:aslide04 20s infinite;}

@keyframes aslide01 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:-300%;}
	98% {left:-300%;}
	100% {left:0%;}
}
@keyframes aslide02 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes aslide03 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes aslide04 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:300%;}
	48% {left:300%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}